.background{
    background-color: green;

}

.lightbox{
    background-color: black;

}
.lightpole{
    background-color: black;

}
.red{
    background-color: red;

}
.redbright{
    background-color: 

}

.yellow{
    background-color: yellow;

}

.yellowbright{
    background-color:

}

.green{
    background-color: green;

}

.greenbright{
    background-color:

}
