

.h1{

    text-align: 10px;
}

.col-6 {
    padding-top: 64px;
    
}
.middle{
    background-color: blue;
    height: 300px;
}
.card-white {
    background: white;
    padding: 30px;
    box-shadow: 1px 1px 2px black;
    border-radius: 4px;
    margin: 10px 30px;
}