.background{
    background-color: green;

}

.lightbox{
    background-color: black;

}
.lightpole{
    background-color: black;

}
.redcircle{
    width: 10px;
    height: 10px;
    -webkit-boarder-radius: 5px;
    -moz-boarder-radius: 5px;
    border-radius: 5px;
    background: red;
    
}
.redbright{
    background-color: 

}

.yellow{
    background-color: yellow;

}

.yellowbright{
    background-color:

}

.green{
    background-color: green;

}

.greenbright{
    background-color:

}
